* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2E2E2E;
    font-family: "Roboto", sans-serif;
    color: white;   
}

header {
    padding: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header p{
    margin-top: 2%;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



#name {
    padding: 30px;
    width: 50%;
    font-size: 18px;
    border-radius: 10px;
    border-style: none;
}

#title {
    display: flex;
    justify-content: center;
    gap: 6px;
}

img {
    width: 10%;
    display: block;
}

#btn-finder {
    margin-bottom: 3%;
    color: rgb(242, 242, 242);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    padding: 10px;
    width: 40%;
    background-color: #545454;
    border: 12px 0px 0px white;
    border-radius: 10px;
    border-style: none;
}


#card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 40px;
    border: none;
    border-radius: 12px;
    margin-top: 5%;
    background-color: #141414;
    width: 40%;
}

#img-avatar {
    width: 50%;
    border-radius: 12px;
}

